body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/* Use CSS markup to position absolutely a div at a position above all others
with a z-index. */
#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    z-index: 100;
    color: white;
    display: block;
}